Q1)Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [8]:
# 1)string
string_variable = "My Name is Tanmay Likhar"
print(string_variable)
# 2)list
list_variable = [1,2,3,"Tanmay","Data Science",45.78,False]
print(list_variable)
# 3) Float
float_variable = 78.98
print(float_variable)
# 4) Tuple
tuple_variable = (100,200,45,67.89,"tanmay","pwskills",True)
print(tuple_variable)

My Name is Tanmay Likhar
[1, 2, 3, 'Tanmay', 'Data Science', 45.78, False]
78.98
(100, 200, 45, 67.89, 'tanmay', 'pwskills', True)

Q2)Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

(i) var1 = ' '

Ans: The data type of the variable var1 is string.

(ii) var2 = '[DS ,ML , Python]'

Ans: The data type of variable var2 is string.

(iii) var3 = ['DS', 'Ml', 'Python']

Ans: The data type of variable var3 is list.

(iv) var4 = 1

Ans : The data type of variable is integer

Q3)Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [23]:
# (i) /
# This operation perform the division on the two number and return the quotient.
# Ex:
a = 15/2
print(a)
#(ii) %
# This operation is used to find the remainder of the two number after division of two number.
b = 15%2
print(b)
#(iii) //
# This operation return the integer part of the quotient.It round off the quotient to nearest integer.
c = 15//2
print(c)
#(iv) **
# This operation used to perform find the square of the given number.
d = 15 ** 2
print(d)

7.5
1
7
225

Q4)Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [31]:
list_1 = [21,34,23.45,67.89,True,False,"Tanmay","Likhar",4+7j,2+5j]
for i in list_1:
    print(i)
    print(type(i))

21
<class 'int'>
34
<class 'int'>
23.45
<class 'float'>
67.89
<class 'float'>
True
<class 'bool'>
False
<class 'bool'>
Tanmay
<class 'str'>
Likhar
<class 'str'>
(4+7j)
<class 'complex'>
(2+5j)
<class 'complex'>

Q5)Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [3]:
A = int(input("enter the first number "))
B = int(input("Enter the second number "))
count = 0
while A%B == 0:
    A = A/B
    count += 1
print("The number A can be divided by B",count,"times")

enter the first number 500
Enter the second number 5
The number A can be divided by B 3 times

Q6)Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [53]:
list_2 = list(range(1,26))
for i in list_2:
    if i%3 == 0:
        print("Yes,the number",i,"is divisible by 3")
    else:
        print("No,the number",i,"is not divisible by 3")

No,the number 1 is not divisible by 3
No,the number 2 is not divisible by 3
Yes,the number 3 is divisible by 3
No,the number 4 is not divisible by 3
No,the number 5 is not divisible by 3
Yes,the number 6 is divisible by 3
No,the number 7 is not divisible by 3
No,the number 8 is not divisible by 3
Yes,the number 9 is divisible by 3
No,the number 10 is not divisible by 3
No,the number 11 is not divisible by 3
Yes,the number 12 is divisible by 3
No,the number 13 is not divisible by 3
No,the number 14 is not divisible by 3
Yes,the number 15 is divisible by 3
No,the number 16 is not divisible by 3
No,the number 17 is not divisible by 3
Yes,the number 18 is divisible by 3
No,the number 19 is not divisible by 3
No,the number 20 is not divisible by 3
Yes,the number 21 is divisible by 3
No,the number 22 is not divisible by 3
No,the number 23 is not divisible by 3
Yes,the number 24 is divisible by 3
No,the number 25 is not divisible by 3

Q7)What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [60]:
# Mutable : The values that can be changed after the creation. The task which can be performed are the updation , deletion and addition.
# Example
list_3 = ["T","a","n","m","a","y"]
list_3[2] = 't'
print(list_3)

['T', 'a', 't', 'm', 'a', 'y']

In [62]:
# Immutable : The values that cannot be changed after the creation.The updation, deletion  and addition cannot performed.
# Example
string_1 = "Tanmay"
string_1[3] = 'e'
print(string_1)

TypeError: 'str' object does not support item assignment